doctype html
html(lang="en")
  head
    link(rel='stylesheet', href='/css/main.css')
    title= BlogList
  body
    h1 This blog
    each val, i in mess
      h2 #{val.title}
      i #{val.user}
      p #{val.message}
