doctype html
html(lang="en")
  head
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    title= BlogList
  body.container
    h1 Welcome to Runnerbeans
    br
    h4 The blog that's full of beans
    br
    a(href ='/auth/facebook') Login
    span  to view posts
    br
    a(href ='/logout') Logout
    span  so no one comments under your name!
  table
    div.row.table-bordered
          div.col-md-4
            h3 Title
          div.col-md-4
            h3 User
          div.col-md-4
            h3 Post  
      each val, i in message
        div.row.table-bordered
          div.col-md-4
            h4 #{val.title}
          div.col-md-4
            h4 #{val.user}
          div.col-md-4
            a(href ='quote/#{val.id}') View Post
